#main{
    display: block;
    margin-left: auto;
    width: 950px;
}

h1{ margin-top: 25vh;
    text-align: center;
    animation: drop 2s forwards;
}

h1:hover{
    animation: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#p1{
    text-align: center;
    animation: slideRight 2s forwards;
}

#p2{
    text-align: center;
    animation: slideLeft 2s forwards;
}

#p3{
    text-align: center;
    animation: slideUp 2s forwards;
}

ul{
    list-style-type: none;
    padding: 15px;
}

li{
    border: solid 2px black;
    padding: 10px;
    margin: 10px;
}

li:hover{
    animation: easeIn 0.5s forwards;
}

#leftSideBar{
    display: inline-block;
    margin-right: 15%;
}

#leftSideBar:hover{
    animation: easeInRight 1s forwards;
}

#rightSideBar{
    display: inline-block;
    margin-left: 15%;
}

#rightSideBar:hover{
    animation: easeInLeft 1s forwards;
}

#greeting{
    display: inline-block;
}

@keyframes drop{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-1000px);
    }
    100%{

    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(1000px);
    }
    100%{

    }
}

@keyframes slideUp{
    0%{
        transform: translateY(1000px);
    }
    100%{

    }
}

@keyframes easeInRight{
    0%{
    
    }
    100%{
        transform: scale(1.1,1.1);
        box-shadow: -10px 10px 10px 10px grey;
    }
}

@keyframes easeInLeft{
    0%{
    
    }
    100%{
        transform: scale(1.1,1.1);
        box-shadow: 10px 10px 10px 10px grey;
    }
}

@keyframes easeIn{
    0%{
    
    }
    100%{
        transform: scale(1.1,1.1);
        /* box-shadow: 10px 10px 10px 10px grey; */
    }
}

@keyframes spin{
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}
